input, select, button {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  background-color: #0A79DF;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0652DD;
}
